/target/
.project
.settings
.classpath
visual_ext_index.html
/webapp/visual_ext_index.html
UIAdaptation_index.html
changes_preview.js
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
/src/main/webapp/preview_hidden.html
/.user.project.json
/node_modules/
