.actionTitle {
    font-size: 22px;
    font-family: Arial;
    color: #333;
}
.avatarSmall {
    border-radius: 4rem;
    border: 0.2rem solid rgba(0, 73, 144, 0.2);
}
.withoutMargin {
    margin: 0rem 0rem !important;
}
.removeToolbarPaddingLeft {
    padding-left: 0 !important;
}

/* =========================================================== */
/* Styling of fieldgroup grid: multiple table aggregation      */
/* lines into a single line                                    */
/* =========================================================== */
.FieldGroupGrid {
    padding: 0.25em;
    overflow: hidden;
    background-color: #fff;
}
.FieldGroupGrid .sapMCLI {
    float: left;
    width: 100%;
    padding: 0.25em;
}
.FieldGroupGrid .sapMLIBContent {
    position: relative;
}
.FieldGroupItem .sapMCLI {
    width: 100% !important;
    clear: none !important;
}
@media screen and (min-width: 50em) {
    .FieldGroupGrid .sapMCLI {
        width: 50%;
    }
    .FieldGroupGrid .sapMCLI:nth-child(odd) {
        clear: left;
    }
}
@media screen and (min-width: 72em) {
    .FieldGroupGrid .sapMCLI {
        width: 33.3%;
    }
    .FieldGroupGrid .sapMCLI:nth-child(3n+1) {
        clear: left;
    }
    .FieldGroupGrid .sapMCLI:nth-child(2n+1) {
        clear: none;
    }
}
@media screen and (min-width: 90em) {
    .FieldGroupGrid .sapMCLI {
        width: 25%;
    }
    .FieldGroupGrid .sapMCLI:nth-child(4n+1) {
        clear: left;
    }
    .FieldGroupGrid .sapMCLI:nth-child(3n+1) {
        clear: none;
    }
}

/* =========================================================== */
/* Styling of the Events info section containing the event's   */
/* Website                                                     */
/* =========================================================== */
.EventDetailsPage .sapUxAPObjectPageScroll,
.EventDetailsPage .sapUxAPObjectPageContainer,
.EventDetailsPage .sapUxAPObjectPageSectionContainer,
.iFrameContainer,
.iFrameContainer > div,
.iFrameContainer .sapUiRespGrid,
.iFrameContainer .sapUiRespGrid > div {
	height: 100%;
}
.iFrameContainer > div,
.iFrameContainer .sapUiRespGrid.sapUiRespGridHSpace1,
.iFrameContainer .sapUiRespGrid.sapUiRespGridHSpace1 > div {
	margin: 0 0 !important;
	padding: 0 0;
	width: 100%;
}


/* =========================================================== */
/* Mentor Shirt custom control styling                         */
/* =========================================================== */
.mentorShirtContainer {
	width: 300px;
	height: 356px;
}

.mentorShirtContainer.male {
	background-image: url("../images/MentorShirtM.png")
}

.mentorShirtContainer.female {
	background-image: url("../images/MentorShirtF.png")
}

.mentorShirtTypeface {
	font-family: Arial, sans-serif; /* NOTE: Not the exact font, but most close resemblance */
}
.mentorShirtText.mentorShirtTypeface {
	position: relative;
	top: 66px;
	left: 77px;
	width: 150px;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	border: 0px solid red;
}
.mentorShirtNumber.mentorShirtTypeface {
	position: relative;
	top: 68px;
	left: 77px;
	width: 150px;
	color: #FFF;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
	border: 0px solid red;
}